*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
}
.login-container{
    width: 650px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;   
    border-radius: 10px;
    margin-top: 30vh;
}
form{
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 100px 10px;
    border-radius: 20px;
    border: 2px solid rgb(35, 56, 87);
    box-shadow: #333;
    -webkit-box-shadow: 0px 0px 23px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 23px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 23px -4px rgba(66, 68, 90, 1);
    z-index: 3;
}
form input{
    width: 50%;
    background: none;
    border-radius: 10px;
    margin-top: 20px;
    height: 50px;
    color: antiquewhite;
    padding-left: 50px;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 23px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 23px -4px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 23px -4px rgba(66, 68, 90, 1);
}
form h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: -webkit-linear-gradient(45deg ,#e2e2e2, #1a1717);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#login{
    background-image: url("../images/login-icon.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
#password{
    background-image: url("../images/lock-icon.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 25px 25px;
    background-position: 15px;
}
#repassword{
    background-image: url("../images/lock-icon.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 25px 25px;
    background-position: 15px;
}
.submit{
    width: 311px;
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(7, 4, 4);
    opacity: 0.6;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    transition: opacity 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.submit:hover{
    opacity: 0.8;
    cursor: pointer;
}
.animation-in-button{
    position: absolute;
    height: 49px;
    width: 10px;
    background-color: white;
    bottom: 100px;
    border-radius: 10px 0 0 10px;
    left: 167px;
}

.submit:hover~.animation-in-button{
    animation: submitAnimation 0.5s linear forwards;
}

@keyframes submitAnimation {
    from{
        transform: translateX(0);
        border-radius: 10px 0 0 10px;
    }
    to{
        transform: translateX(306px);
        border-radius: 0 10px 10px 0;
    }
    
}


footer{
    background-color: #1a1717;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    
}
address{
    color: aliceblue;
    padding: 20px;
    float: left;
}
footer span{
    color: aliceblue;
    float: right;
    margin: 20px;
}

.blad{
    display: block;
    color: rgb(167, 22, 22);
}



/* FOOTER */
footer {
    background-color: #1a1717;
    width: 100%;
    min-height: 10vh;
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}

footer address {
    font-style: normal;
}

footer span {
    font-size: 14px;
}
